/* You can add global styles to this file, and also import other style files */

.custom-modal {
  position: fixed;
  width: 500px;
  height: 200px;
  margin:  auto; 
  left: 0;
  right: 0;
  background: #cdcdcd;
  box-sizing: content-box;
  border: solid 1px gray;
  text-align: center;
  vertical-align: central;
}

  .custom-modal.hidden {
    display: none;
  }

  .red{
    color: red;
    font-weight: bold;
  }


.custom-modal-service {
  position: fixed;
  margin: auto;
  top: 300px;
  left: 50%;
  background: #cdcdcd;
  box-sizing: content-box;
  border: solid 1px gray;
  text-align: center;
  vertical-align: central;
  z-index: 100;
}
