
<style>
  .row > div {
    background: pink;
    border: 1px solid black;
  }
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>22225 Hello {{name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/dashboard" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sows" routerLinkActive="active">Sows</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/errorlink" routerLinkActive="active">Error</a>
        </li>
      </ul>
    </div>
    <div class="col-10" [@routerTransition]="getState(o)">
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </div>
</div>

<div class="btn-group btn-group-toggle">
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="model.left"> Left (pre-checked)
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="model.middle"> Middle
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="model.right"> Right
  </label>
</div>
<hr>
<pre>{{model | json}}</pre>

<modal-dialog [isVisible]="dialogVisible" #dialog>
  <span (click)="onCloseModal(dialog)">close me</span>
  <div>test</div>
</modal-dialog>

<span (click)="onModalToggle(dialog)">show/hide</span>
<div blink color1="yellow" color2="pink">blink</div>

<span (click)="onShowMessagePopup('test')">show popup</span>

<tabs>
  <tab state="active" header="tab 1">
    <div>
      tab 1
    </div>
  </tab>
  <tab header="tab 2">
    <div>
      tab 2
    </div>
  </tab>
  <tab header="tab 3">
    <div>
      tab 3
    </div>
  </tab>
</tabs>

<toggle [state]="btState" (stateChanged)="onToggleStateChanged($event)"></toggle>
<toggle [state]="btState" (stateChanged)="onToggleStateChanged($event)"></toggle>
<div *ngIf="btState==='on'">on</div>
<div *ngIf="btState==='off'">off</div>

<div tooltip text="test tooltip" interval="500">with tooltip</div>
<button type="button" (click)="onShowModalViaService()">show dialog from service</button>





