
<style>
    .row>div{
        background: pink;
        border: 1px solid black;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Hello {{name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/dashboard" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/sows" routerLinkActive="active">Sows</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/errorlink" routerLinkActive="active">Error</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>








